@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Manrope:wght@600&family=Press+Start+2P&family=Roboto:wght@400&family=Ubuntu&display=swap');

:root{
    --search-container-bg:#e4e4e4;
    --primary-red-color:#AF0126;
}

body,html{
    height: 100vh; background-color: rgb(255, 255, 255); overflow: hidden;
    z-index: 2; padding: 0px; margin: 0px;
}

// #loading-scene{  
//     top: 0px; left: 0px;
//     width: 100%;
//     position: absolute;
//     height: 100vh; z-index: 10; background-color: rgb(0, 0, 0);
//     display: flex; justify-content: center; align-items: center;

//     animation: loadingScreen .5s 1s ease-in-out both;

//     #center-text{
//         display: block; font-weight: bold;
//     }
    
//     h1{
//         color: rgb(202, 202, 202);
//         font-family: 'Roboto'; font-weight: 300; font-size: 15px;
//         animation: logoAnimation 4s ease-in-out infinite both;
//     }
// }

#main-menu{
    position: absolute; top: 0px; left: 0px;
    width: 100vw; height: 100vh;
    background-color: rgb(0, 0, 0); z-index: 999999;
    transform: translateY(-100vh); 
    transition: all .35s ease-in-out;
}

.navbar{ 
    font-family: 'Roboto'; font-weight: 100; background-color: transparent;
    position: absolute; width: 100%; display: flex;
    justify-content: space-between; height: 3em; z-index: 999999;
    .nav-left{
        margin-left: 20px; padding: 0px; width: 10%;
        height: 3em;
        display: flex; justify-content: left; align-items: center;
        .logo{
            height: 1.75em;
            transform: translateZ(0px);
        }
    }

    .nav-right{ 
        height: 3em; width: 8%;
        display: flex; justify-content: right; margin-right: 20px;
        #menu-icon{
            text-decoration: none; height: 3em;
            display: flex; flex-direction: column; justify-content: center; align-items: center;
            h1{
                font-size: 12px; color: black; margin: 0px;
                transition: all .35s ease-in-out;
            }
            .menu-bar{
                height: 5px; width:36px; background-color: black; border-radius: 10px;
                margin-top: 3px; transition: all .35s ease-in-out;
            }
            #menu-bar-2{
                transform: translateX(0px);
            }
        }
        #menu-icon:hover h1{
            transform: translateX(75px);
        }
    }
}


#view1{
    height: 100vh; width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    #title-container{
        grid-row-start: 1; grid-column-start: 1; filter: opacity(.75);

        height: 100%; overflow: visible; width: 20em;
        display: flex; flex-direction: column; color: rgb(0, 0, 0);
        justify-content: center; text-align: left; position: relative; top: 15%; left: 8%;
    
        #cover-text{
            position: relative; width: 50vw; overflow: hidden;
        }
        #title-text{
            animation: skewText 1.5s 0s ease both;
            margin: 0px; text-align: left; padding: 0px; line-height: clamp(65px,10vw,155px);
            font-family: 'Cormorant', cursive; font-weight: 100; font-size: clamp(75px,12vw,250px);
            transition: all .35s ease-in-out;
        }
    
        #cover-dif{
            position: relative; width: 75vw; overflow: hidden;
        }
        
        #title-text-dif{
            margin: 0px; padding: 0px; line-height: clamp(60px,10vw,170px); margin-top: clamp(0px,1vw,50px);
            font-family: 'Roboto', sans-serif; font-weight: 600; font-size: clamp(65px,12vw,300px);
    
            animation: skewText 1.5s 0s ease both; transition: all .35s ease-in-out;
        }
    }

    #media-container{
        grid-column-start: 1; grid-column-start: 2;

        #splash-view1{
            position: absolute;
            top: 0px; left: 34%;
            height: clamp(300px,40vw,800px);
            animation: logoAnimation 1.4s .65s ease-in-out backwards;
        }

        #sneaker-view1{
            animation: slide-sneaker-view1 .65s .6s ease-in-out backwards;
            position: absolute;
            top: 0px; right:32vw;
            height: clamp(350px,40vw,800px);
        }
    }

    #search-container{
        grid-column-start: 1; grid-column-start: 3;
        background-color: var(--search-container-bg);
        width: 100%; height: 100vh;
        animation: view1-menu-slide .6s ease-in-out;
        #search-text-container{
            height: 100%; width: 100%; 
            display: flex; justify-content: center; 
            align-items: center;
            h1{
                font-family: 'Roboto',sans-serif ; font-size: 20px;
                width: 100px; text-align: center; filter: opacity(.8);
                transition: all .35s ease-in-out;
                animation: logoAnimation 1.5s 1.15s ease-in-out backwards;
            }
        }
    }
}


@keyframes skewText {
    from{
        transform: skewY(15deg) translateY(400px);
    }

    to{
        transform: skewY(0deg) translateY(0px);
    }
}


@keyframes logoAnimation {
    from{
        opacity: 0;
    }

    to{
        opacity: 1.5;
    }
}


@keyframes loadingScreen {
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-1000px);
    }
}

@keyframes slide-sneaker-view1 {
    from{
        transform: translateY(-1000px);
    }

    to{
        transform: translateY(0px);
    }
}

@keyframes slide-sneaker-view1-mobile {
    from{
        transform: translateX(500px) rotate(90deg);
    }

    to{
        transform: translateX(0px) rotate(90deg);
    }
}

@keyframes view1-menu-slide {
    from{
        transform: translateY(1000px);
    }

    to{
        transform: translateY(0px);
    }
}

@media only screen and (max-width:965px) {
    #view1{
        width: 100%;
        display: block;

        #media-container{
            text-align: right;
            position: absolute;
            width: 100vw !important;
            height: 50vh;
            top: 0px; right: -5vw;

            #splash-view1{
                position: absolute;
                top: 90%; z-index: 45 !important;
                left: clamp(50px,54vw,520px);
                transform: rotate(90deg) scaleX(-1) translateZ(0);
                height: clamp(300px,40vw,450px) !important;
                animation: none;

                animation: logoAnimation 1.4s .65s ease-in-out backwards;
            }
            #sneaker-view1{
                position: absolute !important;
                top: 25%; z-index: 50 !important; left: 53.5vw;
                transform: rotate(90deg) translateZ(0);
                height: clamp(475px,62vw,500px);
                animation: none;

                animation:slide-sneaker-view1-mobile .8s ease-in-out forwards;
            }
        }
       

        #title-container{
            margin: 0px;
        }
        #search-container{
            background-color: transparent;
            z-index: 31 !important; z-index: 180 !important;
            position: absolute;
            bottom: 0px; height: 15%; width: 100%;
            display: flex !important; justify-content: right; align-items: center; 
            
            #search-text-container{
                display: none !important;
            }

            #explore-btn{
                position: relative; font-family: 'Roboto', sans-serif;
                display: flex; justify-content: center; align-items: center; 
                padding: .25em  1.25em;
                margin-right: 2em;
                border:4px var(--primary-red-color) solid;
                color: var(--primary-red-color); font-weight: 600; font-size: 30px;

                animation: logoAnimation 1.5s 1.15s ease-in-out backwards; transition: all .35s ease-in-out;
            }

            #explore-btn:hover{
                cursor: pointer;
                background-color: var(--primary-red-color);
                color: whitesmoke;
            }
        }
    }
}


@media only screen and (max-width:600px) {
    #splash-view1{
        left: 45vw !important;
    }

    #sneaker-view1{
        left: 30vw !important;
        top: 20% !important;
    }
}

@media only screen and (max-width:500px) {
    #splash-view1{
        left: 34vw !important;
    }

    #sneaker-view1{
        left: 20vw !important;
    }
}