@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Manrope:wght@600&family=Press+Start+2P&family=Roboto:wght@400&family=Ubuntu&display=swap");
:root {
  --search-container-bg:#e4e4e4;
  --primary-red-color:#AF0126;
}

body, html {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  z-index: 2;
  padding: 0px;
  margin: 0px;
}

.navbar {
  font-family: "Roboto";
  font-weight: 100;
  background-color: transparent;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3em;
}
.navbar .nav-left {
  margin-left: 20px;
  padding: 0px;
  width: 10%;
  height: 3em;
  display: flex;
  justify-content: left;
  align-items: center;
}
.navbar .nav-left #logo {
  height: 1.75em;
  transform: translateZ(0px);
}

#view1 {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#view1 #title-container {
  grid-row-start: 1;
  grid-column-start: 1;
  filter: opacity(0.75);
  height: 100%;
  overflow: visible;
  width: 20em;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  justify-content: center;
  text-align: left;
  position: relative;
  top: 15%;
  left: 8%;
}
#view1 #title-container #cover-text {
  position: relative;
  width: 50vw;
  overflow: hidden;
}
#view1 #title-container #title-text {
  -webkit-animation: skewText 1.5s 0s ease both;
          animation: skewText 1.5s 0s ease both;
  margin: 0px;
  text-align: left;
  padding: 0px;
  line-height: clamp(65px, 10vw, 155px);
  font-family: "Cormorant", cursive;
  font-weight: 100;
  font-size: clamp(75px, 12vw, 250px);
  transition: all 0.35s ease-in-out;
}
#view1 #title-container #cover-dif {
  position: relative;
  width: 75vw;
  overflow: hidden;
}
#view1 #title-container #title-text-dif {
  margin: 0px;
  padding: 0px;
  line-height: clamp(60px, 10vw, 170px);
  margin-top: clamp(0px, 1vw, 50px);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(65px, 12vw, 300px);
  -webkit-animation: skewText 1.5s 0s ease both;
          animation: skewText 1.5s 0s ease both;
  transition: all 0.35s ease-in-out;
}
#view1 #media-container {
  grid-column-start: 1;
  grid-column-start: 2;
}
#view1 #media-container #splash-view1 {
  position: absolute;
  top: 0px;
  left: 34%;
  height: clamp(300px, 40vw, 800px);
  -webkit-animation: logoAnimation 1.4s 0.65s ease-in-out backwards;
          animation: logoAnimation 1.4s 0.65s ease-in-out backwards;
}
#view1 #media-container #sneaker-view1 {
  -webkit-animation: slide-sneaker-view1 0.65s 0.6s ease-in-out backwards;
          animation: slide-sneaker-view1 0.65s 0.6s ease-in-out backwards;
  position: absolute;
  top: 0px;
  left: 44%;
  height: clamp(350px, 50vw, 750px);
}
#view1 #search-container {
  grid-column-start: 1;
  grid-column-start: 3;
  background-color: var(--search-container-bg);
  width: 100%;
  height: 100vh;
  -webkit-animation: view1-menu-slide 0.6s ease-in-out;
          animation: view1-menu-slide 0.6s ease-in-out;
}
#view1 #search-container #search-text-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#view1 #search-container #search-text-container h1 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 100px;
  text-align: center;
  filter: opacity(0.7);
  transition: all 0.35s ease-in-out;
  -webkit-animation: logoAnimation 1.5s 1.15s ease-in-out backwards;
          animation: logoAnimation 1.5s 1.15s ease-in-out backwards;
}

@-webkit-keyframes skewText {
  from {
    transform: skewY(15deg) translateY(400px);
  }
  to {
    transform: skewY(0deg) translateY(0px);
  }
}

@keyframes skewText {
  from {
    transform: skewY(15deg) translateY(400px);
  }
  to {
    transform: skewY(0deg) translateY(0px);
  }
}
@-webkit-keyframes logoAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.5;
  }
}
@keyframes logoAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.5;
  }
}
@-webkit-keyframes loadingScreen {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000px);
  }
}
@keyframes loadingScreen {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000px);
  }
}
@-webkit-keyframes slide-sneaker-view1 {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes slide-sneaker-view1 {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0px);
  }
}
@-webkit-keyframes slide-sneaker-view1-mobile {
  from {
    transform: translateX(500px) rotate(90deg);
  }
  to {
    transform: translateX(0px) rotate(90deg);
  }
}
@keyframes slide-sneaker-view1-mobile {
  from {
    transform: translateX(500px) rotate(90deg);
  }
  to {
    transform: translateX(0px) rotate(90deg);
  }
}
@-webkit-keyframes view1-menu-slide {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes view1-menu-slide {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 965px) {
  #view1 {
    width: 100%;
    display: block;
  }
  #view1 #media-container {
    text-align: right;
    position: absolute;
    width: 100vw !important;
    height: 50vh;
    top: 0px;
    right: -5vw;
  }
  #view1 #media-container #splash-view1 {
    position: absolute;
    top: 90%;
    z-index: 45 !important;
    left: clamp(50px, 54vw, 520px);
    transform: rotate(90deg) scaleX(-1) translateZ(0);
    height: clamp(300px, 40vw, 450px) !important;
    -webkit-animation: none;
            animation: none;
    -webkit-animation: logoAnimation 1.4s 0.65s ease-in-out backwards;
            animation: logoAnimation 1.4s 0.65s ease-in-out backwards;
  }
  #view1 #media-container #sneaker-view1 {
    position: absolute !important;
    top: 25%;
    z-index: 50 !important;
    left: 53.5vw;
    transform: rotate(90deg) translateZ(0);
    height: clamp(475px, 62vw, 500px);
    -webkit-animation: none;
            animation: none;
    -webkit-animation: slide-sneaker-view1-mobile 0.8s ease-in-out forwards;
            animation: slide-sneaker-view1-mobile 0.8s ease-in-out forwards;
  }
  #view1 #title-container {
    margin: 0px;
  }
  #view1 #search-container {
    z-index: 31 !important;
    z-index: 180 !important;
    position: absolute;
    bottom: 0px;
    height: 15%;
    width: 100%;
    display: flex !important;
    justify-content: right;
    align-items: center;
  }
  #view1 #search-container #search-text-container {
    display: none !important;
  }
  #view1 #search-container #explore-btn {
    position: relative;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em 1.25em;
    margin-right: 2em;
    border: 4px var(--primary-red-color) solid;
    color: var(--primary-red-color);
    font-weight: 600;
    font-size: 30px;
    -webkit-animation: logoAnimation 1.5s 1.15s ease-in-out backwards;
            animation: logoAnimation 1.5s 1.15s ease-in-out backwards;
    transition: all 0.35s ease-in-out;
  }
  #view1 #search-container #explore-btn:hover {
    cursor: pointer;
    background-color: var(--primary-red-color);
    color: whitesmoke;
  }
}
@media only screen and (max-width: 600px) {
  #splash-view1 {
    left: 45vw !important;
  }
  #sneaker-view1 {
    left: 30vw !important;
    top: 20% !important;
  }
}
@media only screen and (max-width: 500px) {
  #splash-view1 {
    left: 34vw !important;
  }
  #sneaker-view1 {
    left: 20vw !important;
  }
}/*# sourceMappingURL=index.css.map */