@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Manrope:wght@600&family=Press+Start+2P&family=Roboto:wght@400&family=Ubuntu&display=swap");
:root {
  --search-container-bg:#e4e4e4;
  --primary-red-color:#AF0126;
}

body, html {
  height: 100vh;
  background-color: white;
  overflow: hidden;
  z-index: 2;
  padding: 0px;
  margin: 0px;
}

#main-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 999999;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.navbar {
  font-family: 'Roboto';
  font-weight: 100;
  background-color: transparent;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3em;
  z-index: 999999;
}

.navbar .nav-left {
  margin-left: 20px;
  padding: 0px;
  width: 10%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-left .logo {
  height: 1.75em;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

.navbar .nav-right {
  height: 3em;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 20px;
}

.navbar .nav-right #menu-icon {
  text-decoration: none;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-right #menu-icon h1 {
  font-size: 12px;
  color: black;
  margin: 0px;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.navbar .nav-right #menu-icon .menu-bar {
  height: 5px;
  width: 36px;
  background-color: black;
  border-radius: 10px;
  margin-top: 3px;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.navbar .nav-right #menu-icon #menu-bar-2 {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.navbar .nav-right #menu-icon:hover h1 {
  -webkit-transform: translateX(75px);
          transform: translateX(75px);
}

#view1 {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#view1 #title-container {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -webkit-filter: opacity(0.75);
          filter: opacity(0.75);
  height: 100%;
  overflow: visible;
  width: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  position: relative;
  top: 15%;
  left: 8%;
}

#view1 #title-container #cover-text {
  position: relative;
  width: 50vw;
  overflow: hidden;
}

#view1 #title-container #title-text {
  -webkit-animation: skewText 1.5s 0s ease both;
          animation: skewText 1.5s 0s ease both;
  margin: 0px;
  text-align: left;
  padding: 0px;
  line-height: clamp(65px, 10vw, 155px);
  font-family: 'Cormorant', cursive;
  font-weight: 100;
  font-size: clamp(75px, 12vw, 250px);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

#view1 #title-container #cover-dif {
  position: relative;
  width: 75vw;
  overflow: hidden;
}

#view1 #title-container #title-text-dif {
  margin: 0px;
  padding: 0px;
  line-height: clamp(60px, 10vw, 170px);
  margin-top: clamp(0px, 1vw, 50px);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: clamp(65px, 12vw, 300px);
  -webkit-animation: skewText 1.5s 0s ease both;
          animation: skewText 1.5s 0s ease both;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

#view1 #media-container {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-start: 2;
}

#view1 #media-container #splash-view1 {
  position: absolute;
  top: 0px;
  left: 34%;
  height: clamp(300px, 40vw, 800px);
  -webkit-animation: logoAnimation 1.4s .65s ease-in-out backwards;
          animation: logoAnimation 1.4s .65s ease-in-out backwards;
}

#view1 #media-container #sneaker-view1 {
  -webkit-animation: slide-sneaker-view1 .65s .6s ease-in-out backwards;
          animation: slide-sneaker-view1 .65s .6s ease-in-out backwards;
  position: absolute;
  top: 0px;
  right: 32vw;
  height: clamp(350px, 40vw, 800px);
}

#view1 #search-container {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-start: 3;
  background-color: var(--search-container-bg);
  width: 100%;
  height: 100vh;
  -webkit-animation: view1-menu-slide .6s ease-in-out;
          animation: view1-menu-slide .6s ease-in-out;
}

#view1 #search-container #search-text-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#view1 #search-container #search-text-container h1 {
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  width: 100px;
  text-align: center;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  -webkit-animation: logoAnimation 1.5s 1.15s ease-in-out backwards;
          animation: logoAnimation 1.5s 1.15s ease-in-out backwards;
}

@-webkit-keyframes skewText {
  from {
    -webkit-transform: skewY(15deg) translateY(400px);
            transform: skewY(15deg) translateY(400px);
  }
  to {
    -webkit-transform: skewY(0deg) translateY(0px);
            transform: skewY(0deg) translateY(0px);
  }
}

@keyframes skewText {
  from {
    -webkit-transform: skewY(15deg) translateY(400px);
            transform: skewY(15deg) translateY(400px);
  }
  to {
    -webkit-transform: skewY(0deg) translateY(0px);
            transform: skewY(0deg) translateY(0px);
  }
}

@-webkit-keyframes logoAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.5;
  }
}

@keyframes logoAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.5;
  }
}

@-webkit-keyframes loadingScreen {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

@keyframes loadingScreen {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

@-webkit-keyframes slide-sneaker-view1 {
  from {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide-sneaker-view1 {
  from {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slide-sneaker-view1-mobile {
  from {
    -webkit-transform: translateX(500px) rotate(90deg);
            transform: translateX(500px) rotate(90deg);
  }
  to {
    -webkit-transform: translateX(0px) rotate(90deg);
            transform: translateX(0px) rotate(90deg);
  }
}

@keyframes slide-sneaker-view1-mobile {
  from {
    -webkit-transform: translateX(500px) rotate(90deg);
            transform: translateX(500px) rotate(90deg);
  }
  to {
    -webkit-transform: translateX(0px) rotate(90deg);
            transform: translateX(0px) rotate(90deg);
  }
}

@-webkit-keyframes view1-menu-slide {
  from {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes view1-menu-slide {
  from {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media only screen and (max-width: 965px) {
  #view1 {
    width: 100%;
    display: block;
  }
  #view1 #media-container {
    text-align: right;
    position: absolute;
    width: 100vw !important;
    height: 50vh;
    top: 0px;
    right: -5vw;
  }
  #view1 #media-container #splash-view1 {
    position: absolute;
    top: 90%;
    z-index: 45 !important;
    left: clamp(50px, 54vw, 520px);
    -webkit-transform: rotate(90deg) scaleX(-1) translateZ(0);
            transform: rotate(90deg) scaleX(-1) translateZ(0);
    height: clamp(300px, 40vw, 450px) !important;
    -webkit-animation: none;
            animation: none;
    -webkit-animation: logoAnimation 1.4s .65s ease-in-out backwards;
            animation: logoAnimation 1.4s .65s ease-in-out backwards;
  }
  #view1 #media-container #sneaker-view1 {
    position: absolute !important;
    top: 25%;
    z-index: 50 !important;
    left: 53.5vw;
    -webkit-transform: rotate(90deg) translateZ(0);
            transform: rotate(90deg) translateZ(0);
    height: clamp(475px, 62vw, 500px);
    -webkit-animation: none;
            animation: none;
    -webkit-animation: slide-sneaker-view1-mobile .8s ease-in-out forwards;
            animation: slide-sneaker-view1-mobile .8s ease-in-out forwards;
  }
  #view1 #title-container {
    margin: 0px;
  }
  #view1 #search-container {
    background-color: transparent;
    z-index: 31 !important;
    z-index: 180 !important;
    position: absolute;
    bottom: 0px;
    height: 15%;
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #view1 #search-container #search-text-container {
    display: none !important;
  }
  #view1 #search-container #explore-btn {
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .25em  1.25em;
    margin-right: 2em;
    border: 4px var(--primary-red-color) solid;
    color: var(--primary-red-color);
    font-weight: 600;
    font-size: 30px;
    -webkit-animation: logoAnimation 1.5s 1.15s ease-in-out backwards;
            animation: logoAnimation 1.5s 1.15s ease-in-out backwards;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
  }
  #view1 #search-container #explore-btn:hover {
    cursor: pointer;
    background-color: var(--primary-red-color);
    color: whitesmoke;
  }
}

@media only screen and (max-width: 600px) {
  #splash-view1 {
    left: 45vw !important;
  }
  #sneaker-view1 {
    left: 30vw !important;
    top: 20% !important;
  }
}

@media only screen and (max-width: 500px) {
  #splash-view1 {
    left: 34vw !important;
  }
  #sneaker-view1 {
    left: 20vw !important;
  }
}
/*# sourceMappingURL=index.css.map */